body{
    background-color: rgb(202, 255, 237);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(6, 139, 94);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.card{
    font-size: 24px;
    border-radius: 24px;
    width: 25vw;
    background-color:aquamarine;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}
h1{
    font-size: 40px;
}
button{
    padding: 12px;
    font-size: 16px;
    background-color: rgb(6, 139, 94);
    border: none;
    color: aliceblue;
    border-radius: 8px;
}
    @media screen and (max-width: 600px) {
      h1{
        font-size: 24px;
      }
      body, button{
        background-color: rgb(5, 79, 79);
        color: rgb(146, 248, 248);
      }
      .card {
        width: 50vw;
        font-size: 16px;
        background-color: rgb(146, 248, 248);
        padding: 8px;
        color: rgb(61, 120, 128);

      }
    }